#map {
  height: 650px;
  width: 57.5%;
  float:right;
}

.buttonPanel{
  width: 45%;
}


.placesPanel{
  color: black;
  width: 42.5%;
  height: 53%;
  position: relative;
  overflow: auto;
  /*background-color: red;*/
}

.detailsPanel{
  width: 42.5%;
  height: 40%;
  overflow: auto;
}

.footer{
  height: 5%;
  position: absolute;
  width: 30%;
}

.moreButtonPanel{
  padding-left: 15%;
}

.redoButtonClass{
  position:absolute;
  /*transition: .5s ease;*/
  top: 95%;
  left: 70%;
}

/*.divider{
float: right;
padding-left: 15%;
}*/
