#map {
  height: 800px;
  width: 57.5%;
  float:right;
}

.buttonPanel{
  width: 33%;
}


.placesPanel{
  color: black;
  width: 42.5%;
  height: 66%;
  position: relative;
  overflow: auto;
}

.detailsPanel{
  width: 42.5%;
  height: 20%;
  overflow: auto;
}

.footer{
  height: 5%;
  position: absolute;
  width: 100%;
}

.moreButtonPanel{
  padding-left: 15%;
}
