#map {
  height: 85%;
  width: 896px;
  float:right;
  /*position: relative;*/
  bottom: 35%;
}

.leftTopPanel{
  width: 30%;
  height: 50%;
  background-color: green;
  position: relative;
  overflow: scroll;

}

.leftBottomPanel{
  width: 30%;
  height: 50%;
  background-color: red;
  /*overflow: scroll;*/
}
